.search-icon
  background-position 13.5% 2%

.cart-icon
  background-position 44.5% 1.5%

.cart-icon.black
  opacity .9
  background-position 66% 22.5%

.arrow-down.black
  background-position 23% 1.5%

.arrow-up.black
  background-position 23% 1.5%

.arrow-up
  transform rotate(180deg)
  background-position 34% 1.5%

.arrow-down
  background-position 34% 1.5%

.arrow-left
  background-position 34% 1%
  transform rotate(90deg)

.arrow-right
  background-position 34% 1%
  transform rotate(-90deg)

.arrow-left.black
  background-position 23% 1.5%
  transform rotate(90deg)

.arrow-right.black
  background-position 23% 1.5%
  transform rotate(-90deg)

.google-icon
  background-position 23.5% 12%

.facebook-icon
  background-position 33.8% 12.3%

.twitter-icon
  background-position 1.5% 23%

.pinterest-icon
  background-position 12.2% 12.3%

.close-icon
  background-position 1.5% 1.5%

.close-icon.white
  background-position 1.5% 13.5%

.lock-icon
  background-position 12.5% 23%

.share-icon
  background-position 23.2% 22.7%

.heart-icon
  background-position 44.8% 12%

.heart-fill-icon
  background-position 12.5% 34.8%

.user-icon
  background-position 48.25% -66%

.play-icon
  background-position 44.5% 34%

.double-arrow-left-icon
  background-position 23% 33.8%

.card-icon
  background-position 1.5% 45%

.shipping-icon
  background-position 55.3% 23%

.support-icon
  background-position 55.3% 44.5%

.bundle-icon
  background-position 55.3% 34%

.paypal-icon
  background-position 12% 44.5%

.cod-icon
  background-position 1.5% 34%

.email-icon
  background-position 44.5% 44.5%

.eye-close-icon
  background-position 34% 44.5%

.eye-icon
  background-position 23.3% 44.5%

.user-icon
  background-position 55.3% 1.5%

.code-icon
  background-position 55.3% 12%

.tick-icon
  background-position 66% 1.5%

.reload-icon
  background-position 66% 12.5%

.phone-icon
  background-position 66% 34%

.login-icon
  background-position 76.5% 44.5%

.register-icon
  background-position 66.5% 44.5%

.location-icon
  background-position 77% 34%

.order-icon
  background-position 77% 23%

.stripe-icon
  transform scale(2.5)
  background-position 77% 12%

.razorpay-icon
  background-position 77% 1%

.flutterwave-icon
  background-position 88% 1%
