@import "variables.styl"

.order-wrapper
  display flex

  .layer-white.spinner-wrapper
    &:after
      background #f1f2f3

  .right-area
    width calc(100% - 250px)

  .left-sidebar
    font-size 1.1em
    min-width 250px

    li
      display block

      a
        padding 5px 0

    .active
      font-weight 600
      color primary-color

  table.shipping-table
    td
      vertical-align baseline
      border none

  table
    margin 15px 0

    td
      padding 15px
      border-bottom 1px solid #eee

      .img-wrap
        width 60px
        height 60px

        img
          height auto
          border-radius border-radius
          object-fit cover

    tr
      background none!important

    th
      border none
      background #f8f7f6
      font-weight 400
      font-size 0.9em
      text-align left
      padding 15px

  .order-details
    & > li
      margin 5px 0
      display flex
      justify-content space-between

      & > span:first-child
        font-weight 600
        width 160px

      & > span:last-child
        width 150px

  .order-price
    li
      padding 10px 0
      border-bottom 1px solid #eee

      &:last-child
        border-bottom none

      span:first-child
        text-align right
        width 100px

      span:last-child
        text-align right
        width 80px

//RESPONSIVE
@media only screen and (max-width: 1200px)
  .order-wrapper
    .right-area
      width calc(100% - 180px)

    .left-sidebar
      min-width 180px

@media only screen and (max-width: 992px)
  .order-wrapper
    .right-area
      width calc(100% - 150px)

    .left-sidebar
      min-width 150px

@media only screen and (max-width: 768px)
  .order-wrapper
    display block

    .right-area
      width 100%

    .left-sidebar
      width 100%
      display flex
      flex-wrap wrap
      margin 0 -5px 10px

      li
        margin 0 5px

@media only screen and (max-width: 576px)
  .order-wrapper
    .pay-btn
      position absolute
      top 50%
      right 15px
      transform translateY(-50%)
