@import "variables.styl"

.rating-review
  .all-review
    flex-grow 1
    justify-content space-between
    display flex

    & > div
      max-width 810px

    .rating-banner
      max-width detail-right-width
      min-width detail-right-width

    .img-wrap
      cursor pointer
      border 1px solid #ddd
      border-radius border-radius
      overflow hidden

    .user-img
      z-index 1
      height 35px
      width 35px
      border-radius 100px
      background #eee

      i
        opacity .7

  .total-rating
    display flex
    flex-direction column

    tr
      td
        white-space nowrap
        vertical-align middle

    .rating-bar
      width 200px
      height 20px
      background #F0F2F2
      border-radius border-radius
      position relative

      & > span
        position absolute
        top 0
        bottom 0
        left 0
        border-radius border-radius
        background rating-color
        z-index 1

//RESPONSIVE
@media only screen and (max-width: 992px)
  .rating-review
    .all-review
      flex-direction column
      .rating-banner
        min-width 0

@media only screen and (max-width: 576px)
  .rating-review
    .total-rating
      .rating-bar
        width 150px
