.vouchers-wrapper
  & > .flex
    margin 0 -7.5px

    .card
      margin 0 7.5px

.voucher-footer
  padding 10px 0
  border-top 2px dashed #ccc

.main-product-id
  .vouchers-wrapper
    & > .flex
      margin 5px -5px 0

      .card
        margin 0

.product-detail
  .info-msg
    border-radius 3px

.voucher
  & + .lite-btn
    border-radius 3px

.main-product-id
  .bundle-deal
    border-radius 3px


@media only screen and (max-width: 768px)
  .main-product-id
    .vouchers-wrapper
      & > .flex
        margin 5px -2.5px 0
