.ajax-btn
  display flex
  justify-content center
  align-items center
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

button:disabled
button[disabled]
  opacity .6
  cursor no-drop

