//RESPONSIVE
@media only screen and (max-width: 768px)
  .cart-product-tile
    .w-120x.img-wrapper
      width 80px

@media only screen and (max-width: 576px)
  .cart-product-tile
    .w-120x.img-wrapper
      width 50px
