@import "variables.styl"

footer
  background header-bg

  .logo
    img
      object-fit contain
      max-height 50px

  .b-t
    border-color rgba(0, 0, 0, .15)

  .bold
    color #000

  a:not(.bold)
    color #444

  .bottom-area
    background home-bg
    a
      display block
      padding 5px 0

      img
        margin-right 10px
        height 15px
        width auto

    .payment
      a
        display inline-block

        img
          height 20px

  .top-area
    background #fff

    a:not(.logo)
      position relative
      margin 0 10px 10px 0
      padding 0 10px 0 0
      border-right 2px solid rgba(255, 255,255, .3)

      &:last-child
        border-right none

//RESPONSIVE
@media only screen and (max-width: 768px)
  footer
    .bold.mb-15
      margin-bottom 5px!important
