@import "variables.styl"

.search-popup
  position relative
  z-index 10
  top 2px

  .popup-inner
    position absolute
    background #fff
    border-radius border-radius
    max-height 75vh
    overflow auto
    left 50%
    transform translateX(-50%)
    border none
    border-top 1px solid #ddd
    box-shadow 0 20px 40px rgba(0, 0, 0, .2)
    min-width 100%

.pop-over-content
  min-height 150px
  padding 20px 20px 5px

  .search-section
    flex-wrap wrap
    display flex
    margin 0 -7.5px

    .item
      margin 15px 7.5px 0

  .category-wrapper
    .item
      width calc(14.285% - 15px)

      .img-wrapper
        overflow hidden
        border-radius 200px

        img
          padding 10px

      .title
        font-size .9em
        margin-top 10px

// RESPONSIVE
@media only screen and (max-width: 1400px)
  .search-popup
    .popup-inner
      .pop-over-content
        .category-wrapper
          .item
            width calc(16.66% - 15px)


@media only screen and (max-width: 1200px)
  .search-popup
    .popup-inner
      min-width 700px

      .pop-over-content
        .category-wrapper
          .item
            width calc(20% - 15px)

@media only screen and (max-width: 768px)
  .search-popup
    .popup-inner
      min-width 100%

      .pop-over-content
        padding 15px 15px 0

        .search-section
          margin 0 -5px

          .item
            margin 10px 5px 0

        .category-wrapper
          .item
            width calc(25% - 10px)

@media only screen and (max-width: 576px)
  .search-popup
    .popup-inner
      max-height 50vh

      .pop-over-content

        .category-wrapper
          .item
            width calc(33.33% - 10px)
