.shipping
  .detail-left
    .address-form
    .address-wrapper
      flex 1

    .address-wrapper
      max-width 500px

  .pop-over-content
    .b-b
      &:last-child
        border-bottom none
        margin-bottom 0!important
        padding-bottom 0!important

//RESPONSIVE
@media only screen and (max-width: 992px)
  .shipping
    .detail-left
      display block
      .address-form
      .address-wrapper
        flex 1

      .address-wrapper
        margin-bottom 15px
        max-width 100%
