.visit-btn
  height 40px
  margin 0
  line-height 1.4
  width 100px
  padding 7px 10px
  font-size .9rem
  white-space nowrap
  background #eee
  display flex
  align-items center
  border 1px solid #ddd
  border-radius 4px

  &:hover
    background #ddd

  &:active
    background #fff

.store-info
  padding 10px 15px 15px
  border 1px solid #ddd
  border-radius 5px

  .btn-wrap
    flex-grow 1
    gap 15px
    flex-wrap wrap
    display flex
    align-items flex-end
    justify-content space-between

  .store-name
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    max-width 100%
    font-weight 600

  .store-date
    letter-spacing 0
    font-size .85rem
    opacity .9

    b
      margin-top 5px

    span
      margin-left 10px


