btn-height = 42px
btn-height-sm = 40px

primary-color = var(--primary-color)
primary-hover = var(--primary-hover-color)
primary-deep = #2d4679
primary-foreground = #fff
primary-semi = #A6D2FF
primary-lite-color = #e8f0fe

danger-bg-color = #F7D7DB
danger-foreground = #A12321

info-bg-color = #CCE5FF
info-foreground = #35628E

success-bg-color = #D3EDDA
success-foreground = #356842

warning-bg-color = #FFF3CC
warning-foreground = #765B18

link-color = #17A2B8

rating-color = #FFA41C

header-bg = #fff
header-color = #222
header-border = rgba(0, 0, 0, .07)

home-bg = #F2F3F5
font-color = #111
heading-color = #333

border-radius = 8px

detail-right-width = 280px

svg-sprite = '~@/assets/images/icons.svg'
